.container{
	text-align: center;
	margin: 0 auto;
	width: 40%;
	padding-top: 10px;
}

.container .row{
	text-align: left;
	border-bottom:solid 2px #000000;
	padding-top: 10px;
	padding-bottom: 15px;
	font-size: 14px;
}
.container .row:last-child{
	border-bottom: none;
}
.author{
	text-align: right;
}

.topic{
	display:inline-block;
}

.rate{
	display:inline-block;
	width: 15%;
	text-align: center;
}
.item{
	text-align: left;
	padding-bottom: 15px;
	border-bottom:solid 2px #000000;
}
.atas{
	text-align: left;
	padding-top: 10px;
	padding-bottom: 0px;
	border-bottom:solid 2px #000000;
}
.kiri{
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block; 
}
.kanan{	
	display: inline-block;
	text-align: justify;
	width: 87%;
}
.bawah{
	
	padding-bottom: 0px;
	border-bottom:solid 2px #000000;
	width: 100%;
	text-align: left;

}
hr {
   display: block;
   border: 1px;
   border-top: 2px solid;
   padding: 0; 
   width: 40%;
}
