<html ng-app="myApp" ng-view>
	<head>
		<title>Latihan-Ralali</title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<base href="/"></base>
	</head>

	<body ng-init="init()">
		<div class="container">
			<h2>Simple StackExchange</h2>
				<div class="atas">
					<h2>The question topic goes here</h2>
				</div>
				<div class="badan">			
					<div class="tengah">

						<div class="kiri">
				<h1>
					<img ng-src="{{idx.status==='up'&&'latihan-ralali/img/kuning-up.png'||'latihan-ralali/img/biru-up.png'}}" style="width:30px; height="30px;" ng-click="up()"></br>
					{{idx.vote}}</br>
					<img ng-src="{{idx.status==='down'&&'latihan-ralali/img/kuning-down.png'||'latihan-ralali/img/biru-down.png'}}" style="width:30px; height="30px;" ng-click="down()"></br>
				</h1>
						</div>

						<div class="kanan">
							<p>{{idx.description}}</p>
						</div>
					</div>
					<div class="author">
						Asked by {{idx.author}} at &lt;datetime&gt;| <a href="#" style="color:orange;">Edit</a> | <a href="#" style="color:red;">Delete</a>
					</div>
				</div>
				<div class="atas">
					<h2>{{idx.answer}} Answer</h2>
				</div>
				<div class="badan-2" ng-repeat="x in idx.answers">	
				<div class="tengah">		
					<div class="kiri">
						<h1>{{x.vote}}</h1>
					</div>
					<div class="kanan">
						<p>{{x.content}}</p>
					</div>
					</div>
					<div class="author">
						Asked by {{x.author}} at &lt;datetime&gt;| <a href="#" style="color:orange;">Edit</a> | <a href="#" style="color:red;">Delete</a>
					</div>
				</div>
				
		</div>
	</body>
		<script type="text/javascript" src="./latihan-ralali/js/angular.js"></script>
		<script type="text/javascript" src="./latihan-ralali/js/angular-route.js"></script>
		<script type="text/javascript" src="./latihan-ralali/js/app.js"></script>
</html>